$text: #fff;
$main-bg-dark-color: #202020;
$accent-color: #ff834e;
$second-text: #393939;

@font-face {
  font-family: Montserrat;
  src: url('./fonts/Montserrat-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: Montserrat;
  src: url('./fonts/Montserrat-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Montserrat;
  src: url('./fonts/Montserrat-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Montserrat;
  src: url('./fonts/Montserrat-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: Montserrat;
  src: url('./fonts/Montserrat-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url('./fonts/Roboto-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url('./fonts/Roboto-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: SourceSansPro;
  src: url('./fonts/SourceSansPro-Light.ttf');
  font-weight: 300;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 14px;
}

body {
  padding: 0;
  font-family: Montserrat, sans-serif;
  color: $text;
  background-color: $main-bg-dark-color;
}

.wrapper {
  overflow-x: hidden;
}

// не смотри на этот медиазапрос, это мне чтоб сворачивать все удобно было и не мешалось, так его тут не должно быть)
@media screen and (min-width: 0) {
  
  .container {
    padding: 0 20px;
    max-width: 1410px;
    margin: 0 auto;
  }
  
  // HEADER
  .header {
    &__body {
      padding: 0 10px;
      height: 50px;
  
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    &__logo {
      width: 45px;
      height: 24px;
      background: no-repeat center/cover url("data:image/svg+xml, %3Csvg width='45' height='24' viewBox='0 0 63 33' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.387 32.807H27.3634L31.3065 28.7982L35.2495 32.807H42.1987L31.2928 21.7194L20.387 32.807ZM0 8.91576L11.7519 31.9839L18.8655 25.1021L10.3613 11.6293L0 8.91576ZM62.7273 8.91219L50.9755 31.9804L43.8619 25.0985L52.3663 11.6257L62.7273 8.91219ZM31.297 0L19.5722 16.0817L22.7013 21.3544L31.297 12.8804L39.8925 21.3544L43.0216 16.0817L31.297 0Z' fill='white' /%3E%3C/svg%3E ");
    }
  
    &__button {
      display: none;
    }
  
    &__contact-number {
      display: none;
    }
  
    &__menu {
      display: none;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      box-sizing: border-box;
      position: fixed;
      top: 0;
      left: 0;
  
      overflow: hidden;
  
      width: 100vw;
      height: 100vh;
  
      background-color: $main-bg-dark-color;
  
      padding: 40px 30px;
      z-index: 98;
  
      &_active {
        display: flex;
      }
    }
  
    &__menu-item {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid transparent;
  
      &:hover {
        border-color: $text;
      }
    }
  
    &__burger-menu-icon {
      box-sizing: border-box;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      position: relative;
      background: no-repeat center/17.5px 9px url("data:image/svg+xml, %3Csvg width='19' height='10' viewBox='0 0 19 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.75' y='0.75' width='17.5' height='1.25' rx='0.625' fill='white'/%3E%3Crect x='0.75' y='4.5' width='17.5' height='1.25' rx='0.625' fill='white'/%3E%3Crect x='0.75' y='8.25' width='17.5' height='1.25' rx='0.625' fill='white'/%3E%3C/svg%3E%0A") #292929;
      box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
      z-index: 99;
    }
  }
  
  // INTRO
  .section-1 {
    background: no-repeat center/cover url("img/header/fancycrave-277756-unsplash.png");
  
    &__body {
      padding: 30px 0 25px;
      position: relative;
      
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  
    &__tag {
      width: 100%;
      font-weight: 700;
      font-size: 13px;
      line-height: 15px;
      color: $accent-color;
  
      display: flex;
      gap: 7px;
      align-items: center;
  
      margin-bottom: 10px;

      &::before {
        width: 11px;
        height: 11px;
        background: no-repeat center/cover url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cg clip-path='url(%23clip0_1_5217)'%3E%3Cpath d='M5.66667 15.6297C4.62778 15.6297 3.77778 16.4797 3.77778 17.5186C3.77778 18.5574 4.62778 19.4074 5.66667 19.4074C6.70556 19.4074 7.55556 18.5574 7.55556 17.5186C7.55556 16.4797 6.70556 15.6297 5.66667 15.6297ZM0 0.518555V2.40744H1.88889L5.28889 9.58522L3.96667 11.8519C3.87222 12.1352 3.77778 12.513 3.77778 12.7963C3.77778 13.8352 4.62778 14.6852 5.66667 14.6852H17V12.7963H6.04444C5.95 12.7963 5.85556 12.7019 5.85556 12.6074V12.513L6.70556 10.9074H13.6944C14.45 10.9074 15.0167 10.5296 15.3 9.96296L18.7 3.82411C18.8889 3.63522 18.8889 3.54078 18.8889 3.35189C18.8889 2.78522 18.5111 2.40744 17.9444 2.40744H3.96667L3.11667 0.518555H0ZM15.1111 15.6297C14.0722 15.6297 13.2222 16.4797 13.2222 17.5186C13.2222 18.5574 14.0722 19.4074 15.1111 19.4074C16.15 19.4074 17 18.5574 17 17.5186C17 16.4797 16.15 15.6297 15.1111 15.6297Z' fill='%23FF834E' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_5217'%3E%3Crect width='18.8889' height='18.8889' fill='white' transform='translate(0 0.518555)' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");;
        content: "";
      }
    }
  
    &__title {
      font-weight: 700;
      font-size: 21px;
      line-height: 28px;
      margin-bottom: 24px;
    }
  
    &__subtitle {
      display: none;
    }
  
    &__img {
      position: relative;
      align-self: center;
      width: 175px;
      height: 252px;
      background: no-repeat center/cover url("img/header/Mockup.png");
      margin-bottom: 5px;
  
      &::before {
        position: absolute;
        width: 202px;
        height: 202px;
        left: -20px;
        top: 6px;
        border-radius: 50%;
  
        background: linear-gradient(180deg, rgba(167, 47, 114, 0.7) 0%, rgba(255, 106, 106, 0.2) 40%, rgba(255, 106, 106, 0) 100%);
        filter: drop-shadow(0px -5px 9px rgba(0, 0, 0, 0.1));
        z-index: -1;
        content: "";
      }

      &::after {
        position: absolute;
        top: -90px;
        left: 75px;
        width: 298px;
        height: 385px;
        background: no-repeat center/cover url("img/header/E.png");
        content: "";
        opacity: 0.3;
        z-index: -1;
      }
    }
  
    &__button {
      width: 100%;
      border: none;
      color: $text;
      position: relative;
      background-color: $accent-color;
      padding: 15px;
      text-align: left;
      font-family: Montserrat, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 11px;
      align-self: center;
  
      &::before {
        content: "Заказать звонок";
      }
  
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        width: 58px;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.21895 1.45829C6.00642 1.45829 5.83412 1.286 5.83412 1.07346C5.83412 0.860916 6.00642 0.688619 6.21895 0.688619L12.5893 0.688618C12.7164 0.688619 12.8291 0.750225 12.8992 0.845205C12.9935 0.915348 13.0545 1.0276 13.0545 1.15412L13.0545 7.5245C13.0545 7.73704 12.8822 7.90934 12.6697 7.90934C12.4571 7.90934 12.2848 7.73704 12.2848 7.5245L12.2848 1.85761L0.823379 13.3191C0.673091 13.4693 0.429427 13.4693 0.279138 13.3191C0.12885 13.1688 0.12885 12.9251 0.279138 12.7748L11.5957 1.45829L6.21895 1.45829Z' fill='white'/%3E%3C/svg%3E ");
        background-position: center;
        background-repeat: no-repeat;
        background-color: #de774b;
        content: "";
      }
    }
  
    &__sub-button {
      font-weight: 300;
      font-size: 12px;
      line-height: 15px;
      font-variant: small-caps;
      opacity: 0.5;
      order: 6;
      align-self: center;
    }
  }
  
  // HOW WE WORK
  .section-2 {
    padding: 40px 0 30px;
    background-color: #fff;
    color: #393939;
  
    &__title {
      width: 75%;
      margin: 0 auto 23px;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
    }
  
    &__cards-steps-container {
      position: relative;
    
    .card-step {
        padding: 15px 14px 15px 0;
        margin-left: 30px;
        text-decoration: none;
        color: inherit;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      
        &:first-child {
          padding-top: 0;
        }
      
        &:last-child {
          border-color: transparent;
          padding-bottom: 0;
        }
      
        &:hover,
        &:focus {
          cursor: pointer;
      
          .card-step__number {
            color: #EF8B54;
          }
        }
      
        &__number {
          margin-right: 11px;
          font-weight: 700;
          font-size: 32px;
          line-height: 39px;
          letter-spacing: 0.1em;
          order: 1;
        }
      
        &__title {
          flex-basis: 70%;
          font-weight: 700;
          font-size: 12px;
          line-height: 15px;
          order: 2;
        }
      
        &__icon {
          margin-left: auto;
          order: 3;
          width: 15px;
          height: 15px;
          background: no-repeat center/cover url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2558 7.49998C14.2558 3.77905 11.2325 0.744171 7.49995 0.744171C3.7674 0.744171 0.744141 3.77905 0.744141 7.49998C0.744141 11.2209 3.77902 14.2558 7.49995 14.2558C11.2209 14.2558 14.2558 11.2209 14.2558 7.49998ZM1.69763 7.49998C1.69763 4.30231 4.30228 1.69766 7.49995 1.69766C10.6976 1.69766 13.3023 4.30231 13.3023 7.49998C13.3023 10.6977 10.6976 13.3023 7.49995 13.3023C4.30228 13.3023 1.69763 10.6977 1.69763 7.49998Z' fill='black'/%3E%3Cpath d='M10.8719 9.0581C10.965 8.96507 11.0115 8.84879 11.0115 8.72089C11.0115 8.60461 10.965 8.4767 10.8719 8.38368L7.80218 5.31391C7.70916 5.22088 7.59288 5.17437 7.46497 5.17437C7.33706 5.17437 7.22078 5.22088 7.12776 5.31391L4.05799 8.38368C3.87195 8.56972 3.87195 8.87205 4.05799 9.0581C4.24404 9.24414 4.54636 9.24414 4.73241 9.0581L7.46497 6.32554L10.1975 9.0581C10.3836 9.24414 10.6859 9.24414 10.8719 9.0581Z' fill='black'/%3E%3C/svg%3E%0A");
      
          &_active {
            background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2558 7.49998C14.2558 3.77905 11.2325 0.744171 7.49995 0.744171C3.7674 0.744171 0.744141 3.77905 0.744141 7.49998C0.744141 11.2209 3.77902 14.2558 7.49995 14.2558C11.2209 14.2558 14.2558 11.2209 14.2558 7.49998ZM1.69763 7.49998C1.69763 4.30231 4.30228 1.69766 7.49995 1.69766C10.6976 1.69766 13.3023 4.30231 13.3023 7.49998C13.3023 10.6977 10.6976 13.3023 7.49995 13.3023C4.30228 13.3023 1.69763 10.6977 1.69763 7.49998Z' fill='black'/%3E%3Cpath d='M10.8719 9.0581C10.965 8.96507 11.0115 8.84879 11.0115 8.72089C11.0115 8.60461 10.965 8.4767 10.8719 8.38368L7.80218 5.31391C7.70916 5.22088 7.59288 5.17437 7.46497 5.17437C7.33706 5.17437 7.22078 5.22088 7.12776 5.31391L4.05799 8.38368C3.87195 8.56972 3.87195 8.87205 4.05799 9.0581C4.24404 9.24414 4.54636 9.24414 4.73241 9.0581L7.46497 6.32554L10.1975 9.0581C10.3836 9.24414 10.6859 9.24414 10.8719 9.0581V9.0581Z' fill='black'/%3E%3C/svg%3E ");
          }
        }
      
        &__description {
          display: none;
          order: 5;
          flex-basis: 1;
          font-weight: 400;
          font-size: 11px;
          line-height: 17px;
          opacity: 0.7;
          margin-top: 10px;
      
          &_opened {
            display: block;
          }
        }
      }

      &::before {
        position: absolute;
        top: 2px;
        left: 10px;
        height: 98%;
        width: 5px;
        border-left: 5px solid #929292;
        border-image-source: url("data:image/svg+xml,%3Csvg width='5' height='12' viewBox='0 0 5 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='5' height='5' fill='%23929292'/%3E%3C/svg%3E%0A");
        border-image-slice: 30%;
        border-image-repeat: repeat;
        content: "";
      }
    }
  }
  
  // WEB PAY
  .section-3 {
    padding: 70px 0 120px;
    background: no-repeat bottom center/cover url("img/features/Blume-bg.png");
  
    &__content-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 30px;
    }
  
    &__img {
      height: 240px;
      width: 240px;
      margin-bottom: -20px;
  
  
      &_web-pay {
        background: no-repeat center/cover url("img/features/logos.png");
        margin-left: 10px;
      }
  
      &_secure {
        width: 280px;
        background: no-repeat center/cover url("img/features/secure-mob.png");
      }
  
      &_products {
        background: no-repeat center/cover url("img/features/products-mob.png");
        margin-left: 10px;
      }
  
    }
  
    &__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 25px;
  
      &_secure {
        width: 178px;
      }
  
      &_products {
        width: 178px;
      }
    }
  
    &__description {
      font-weight: 400;
      font-size: 12px;
      line-height: 19px;
    }
  
    &__separator {
      width: 200px;
      height: 1px;
      background-color: #fff;
      opacity: 0.1;
      border: none;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  
    &__slider-controls {
      display: none;
    }
  }
  
  // CASES
  .section-4 {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 130%;
      background: no-repeat top center/100% 90% url(img/cases/bg-sec4.png);
      content: "";
    }

    &__title {
      text-transform: uppercase;
      margin-bottom: 30px;
      margin-left: 5%;
  
      &::before {
        font-weight: 400;
        font-size: 20.8px;
        line-height: 25px;
        content: "наши кейсы";
      }
    }

    &__cards-container {
      padding: 0 5%;

      .card {
        display: block;
        position: relative;
        box-sizing: border-box;
        padding: 17px;
        width: 100%;
        height: 70%;
        background-color: rgba(20, 20, 20, 0.6);
        margin-bottom: 40px;
        border-radius: 4px;
      
        &:hover,
        &:focus {
          &::after {
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 100%;
            height: 7px;
            border-radius: 5.93981px;
            background-color: #DE9B55;
            box-shadow: 0px 1.69709px 3.39417px rgba(222, 155, 85, 0.4);
            content: "";
          }
        }
      
        &__img-wrap {
          width: 100%;
          height: 70%;
          display: flex;
          align-items: center;
          overflow: hidden;
          border-radius: 2.5px;
        }
      
        &__img {
          width: 100%;
          height: auto;
        }
      
        &__title {
          font-family: 'Roboto', sans-serif;
          font-weight: 500;
          font-size: 22px;
          line-height: 26px;
          margin: 10px 0;
        }
      
        &__subtitle {
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          font-size: 15px;
          line-height: 18px;
          opacity: 0.8;
        }
      }
    }

    &::after {
      display: block;
      margin: 0 auto;
      width: 200px;
      height: 1px;
      background-color: #fff;
      opacity: 0.1;
      content: "";
    }

    .feedback {
      width: 100%;
      box-sizing: border-box;
      position: relative;
      padding: 34px 22px;
      font-size: 11px;
      font-weight: 700;
      background: linear-gradient(147.62deg, #8D5DCC -128.51%, #55329E 221.38%);
      box-shadow: 0px 5px 10px rgba(94, 56, 158, 0.35);
      border-radius: 3px;
      margin-bottom: 40px;
  
      &::before {
        display: block;
        float: left;
        width: 43px;
        height: 43px;
        margin: 2px 13px 32px 0;
    
        background: no-repeat center/contain url("data:image/svg+xml,%3Csvg width='44' height='44' viewBox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_5835)'%3E%3Cpath d='M34.9475 0.259308H9.51968C7.72919 0.259308 6.02446 0.820992 4.58956 1.88348C4.30976 2.09066 4.25089 2.48544 4.45808 2.76524C4.66526 3.04503 5.06004 3.10374 5.33984 2.89672C6.55599 1.99611 8.00137 1.52002 9.51968 1.52002H34.9474C38.8245 1.52002 41.9787 4.67431 41.9787 8.55133V25.2288C41.9787 29.1059 38.8244 32.2601 34.9474 32.2601H24.1999C23.9402 32.2601 23.6893 32.3687 23.5118 32.5577L14.8803 41.7354C14.6939 41.9334 14.4779 41.8772 14.3937 41.8439C14.3094 41.8106 14.1136 41.7036 14.1136 41.4316V33.205C14.1136 32.6841 13.6898 32.2603 13.1689 32.2603H9.51968C5.64258 32.2603 2.48829 29.106 2.48829 25.229V8.55133C2.48829 7.12497 2.9128 5.75178 3.716 4.58035C3.91281 4.29318 3.8397 3.90092 3.55262 3.70403C3.26562 3.50714 2.8731 3.58042 2.6763 3.86742C1.72863 5.24973 1.22766 6.86937 1.22766 8.55133V25.2288C1.22766 29.801 4.94749 33.5208 9.51976 33.5208H12.8529V41.4316C12.8529 42.1349 13.2753 42.7568 13.9292 43.0159C14.1353 43.0975 14.3493 43.1372 14.5608 43.1372C15.0205 43.1372 15.4687 42.9499 15.7986 42.5992L24.3365 33.5209H34.9475C39.5196 33.5209 43.2395 29.8011 43.2395 25.2289V8.55133C43.2395 3.97913 39.5197 0.259308 34.9475 0.259308Z' fill='white'/%3E%3Cpath d='M31.2881 10.3872C29.1003 8.19934 25.5402 8.19951 23.3522 10.3872L22.2536 11.4859C22.2506 11.4889 22.2416 11.4979 22.2247 11.4979C22.208 11.4979 22.199 11.489 22.1961 11.4859L21.1149 10.4048C18.927 8.21693 15.367 8.21701 13.1791 10.4048C10.9912 12.5926 10.9912 16.1528 13.1791 18.3406L21.3054 26.4669C21.5512 26.7127 21.878 26.848 22.2255 26.848C22.573 26.848 22.8999 26.7126 23.1456 26.4668L27.6114 22.0003C27.8576 21.7541 27.8576 21.355 27.6113 21.1089C27.3651 20.8628 26.9659 20.8627 26.7199 21.109L22.2541 25.5755C22.2512 25.5785 22.2422 25.5873 22.2255 25.5873C22.2087 25.5873 22.1997 25.5785 22.1968 25.5754L14.0705 17.4491C12.3741 15.7526 12.3741 12.9925 14.0705 11.2961C15.7669 9.59966 18.527 9.59982 20.2234 11.2961L21.3045 12.3773C21.5503 12.623 21.8771 12.7585 22.2247 12.7585C22.5723 12.7585 22.899 12.6231 23.1449 12.3773L24.2436 11.2786C25.9403 9.58232 28.7002 9.58232 30.3966 11.2786C32.0929 12.9749 32.0929 15.735 30.3966 17.4316L28.5147 19.3139C28.2684 19.5601 28.2684 19.9593 28.5147 20.2053C28.7609 20.4514 29.1601 20.4515 29.4061 20.2052L31.2881 18.323C33.4759 16.1351 33.4759 12.5751 31.2881 10.3872Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_5835'%3E%3Crect width='42.8779' height='42.8779' fill='white' transform='translate(0.794434 0.259308)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        content: "";
      }
  
      &::after {
        position: absolute;
        top: 18px;
        right: 15px;
        width: 163px;
        height: 163px;
        background: no-repeat center/cover url("data:image/svg+xml,%3Csvg width='44' height='44' viewBox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_5835)'%3E%3Cpath d='M34.9475 0.259308H9.51968C7.72919 0.259308 6.02446 0.820992 4.58956 1.88348C4.30976 2.09066 4.25089 2.48544 4.45808 2.76524C4.66526 3.04503 5.06004 3.10374 5.33984 2.89672C6.55599 1.99611 8.00137 1.52002 9.51968 1.52002H34.9474C38.8245 1.52002 41.9787 4.67431 41.9787 8.55133V25.2288C41.9787 29.1059 38.8244 32.2601 34.9474 32.2601H24.1999C23.9402 32.2601 23.6893 32.3687 23.5118 32.5577L14.8803 41.7354C14.6939 41.9334 14.4779 41.8772 14.3937 41.8439C14.3094 41.8106 14.1136 41.7036 14.1136 41.4316V33.205C14.1136 32.6841 13.6898 32.2603 13.1689 32.2603H9.51968C5.64258 32.2603 2.48829 29.106 2.48829 25.229V8.55133C2.48829 7.12497 2.9128 5.75178 3.716 4.58035C3.91281 4.29318 3.8397 3.90092 3.55262 3.70403C3.26562 3.50714 2.8731 3.58042 2.6763 3.86742C1.72863 5.24973 1.22766 6.86937 1.22766 8.55133V25.2288C1.22766 29.801 4.94749 33.5208 9.51976 33.5208H12.8529V41.4316C12.8529 42.1349 13.2753 42.7568 13.9292 43.0159C14.1353 43.0975 14.3493 43.1372 14.5608 43.1372C15.0205 43.1372 15.4687 42.9499 15.7986 42.5992L24.3365 33.5209H34.9475C39.5196 33.5209 43.2395 29.8011 43.2395 25.2289V8.55133C43.2395 3.97913 39.5197 0.259308 34.9475 0.259308Z' fill='white'/%3E%3Cpath d='M31.2881 10.3872C29.1003 8.19934 25.5402 8.19951 23.3522 10.3872L22.2536 11.4859C22.2506 11.4889 22.2416 11.4979 22.2247 11.4979C22.208 11.4979 22.199 11.489 22.1961 11.4859L21.1149 10.4048C18.927 8.21693 15.367 8.21701 13.1791 10.4048C10.9912 12.5926 10.9912 16.1528 13.1791 18.3406L21.3054 26.4669C21.5512 26.7127 21.878 26.848 22.2255 26.848C22.573 26.848 22.8999 26.7126 23.1456 26.4668L27.6114 22.0003C27.8576 21.7541 27.8576 21.355 27.6113 21.1089C27.3651 20.8628 26.9659 20.8627 26.7199 21.109L22.2541 25.5755C22.2512 25.5785 22.2422 25.5873 22.2255 25.5873C22.2087 25.5873 22.1997 25.5785 22.1968 25.5754L14.0705 17.4491C12.3741 15.7526 12.3741 12.9925 14.0705 11.2961C15.7669 9.59966 18.527 9.59982 20.2234 11.2961L21.3045 12.3773C21.5503 12.623 21.8771 12.7585 22.2247 12.7585C22.5723 12.7585 22.899 12.6231 23.1449 12.3773L24.2436 11.2786C25.9403 9.58232 28.7002 9.58232 30.3966 11.2786C32.0929 12.9749 32.0929 15.735 30.3966 17.4316L28.5147 19.3139C28.2684 19.5601 28.2684 19.9593 28.5147 20.2053C28.7609 20.4514 29.1601 20.4515 29.4061 20.2052L31.2881 18.323C33.4759 16.1351 33.4759 12.5751 31.2881 10.3872Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_5835'%3E%3Crect width='42.8779' height='42.8779' fill='white' transform='translate(0.794434 0.259308)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        opacity: 0.03;
        transform: rotate(-12.48deg);
        content: "";
        }

      &__button {
        width: 100%;
        font-size: 13px;
        padding: 13px 0;
        text-align: center;
        color: inherit;
        border: 3px solid #fff;
        border-radius: 5px;
        background-color: transparent;
      }
    }  
  }

  // OUR CLIENTS
  .section-5 {
    position: relative;
    padding: 100px 0 0;
  
    &__title {
      font-weight: 400;
      font-size: 21px;
      line-height: 25px;
      text-align: center;
      margin-bottom: 38px;
    }

    &__img-wrap {
      position: relative;
    }

    &__number {
      display: none;
    }

    &__img {
      margin: auto;
      width: 210px;
      object-fit: contain;
      box-sizing: border-box;
    }
    &__slider-controls {
      margin: 20px auto 0;
      width: max-content;
    }
  }
  
  // 
  .section-6 {
    position: relative;
    padding: 120px 0 85px;
    background: no-repeat top center/cover url("img/footer/fancycrave-277756-unsplash.png");
  
    &__body {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  
    &__title {
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
      margin-bottom: 30px;
      order: 1;
  
      color: #EF8B54;
    }
  
    &__subtitle {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 57px;
      order: 3;
    }
  
    &__banner {
      order: 2;
      width: 100%;
      padding: 20px 22px 21px 11px;
      margin-bottom: 30px;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      border: 2px solid #EF8B54;
      box-sizing: border-box;
  
      &::before {
        display: inline-block;
        width: 9px;
        height: 10px;
        margin-right: 5px;
        background: url("data:image/svg+xml,%3Csvg width='9' height='10' viewBox='0 0 9 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='4' y='0.306274' width='1' height='8.98594' fill='white'/%3E%3Crect y='5.29858' width='0.998438' height='9' transform='rotate(-90 0 5.29858)' fill='white'/%3E%3C/svg%3E ");
        content: "";
      }
    }
  
    &__list {
      margin-top: 16px;
      padding: 0;
  
      li {
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        list-style-type: none;
        margin-bottom: 9px;
  
        &::before {
          display: inline-block;
          width: 9px;
          height: 10px;
          margin-right: 5px;
          background: url("data:image/svg+xml,%3Csvg width='9' height='10' viewBox='0 0 9 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='4' y='0.306274' width='1' height='8.98594' fill='white'/%3E%3Crect y='5.29858' width='0.998438' height='9' transform='rotate(-90 0 5.29858)' fill='white'/%3E%3C/svg%3E ");
          content: "";
        }
      }
    }
  
    &__feedback-form {
      width: 100%;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      padding: 15px 10px;
      order: 4;
  
      &>* {
        margin-bottom: 15px;
      }
    }
  
    &__input {
      font-family: Montserrat, sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      padding: 0 15px;
      box-sizing: border-box;
      background-color: #f6f6f6;
      width: 100%;
      height: 45px;
      border: 0.5px solid #D0D0D0;
    }
  
    &__comment {
      font-family: Montserrat, sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      resize: none;
      padding: 15px;
      box-sizing: border-box;
      background-color: #f6f6f6;
      width: 100%;
      height: 80px;
      border: 0.5px solid #D0D0D0;
    }
  
    .terms-of-use-container {
      display: flex;
      align-items: flex-start;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
    
      &::before {
        display: inline-block;
        min-width: 22px;
        width: 22px;
        height: 22px;
        margin-right: 14px;
        background: no-repeat center/cover url("data:image/svg+xml,%3Csvg width='22' height='23' viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='1.11694' width='21' height='20.9656' rx='1.5' stroke='%23D0D0D0'/%3E%3C/svg%3E ");
        content: "";
      }
    }
  
    .terms-of-use-input:checked+.terms-of-use-container::before {
      background-image: url("data:image/svg+xml,%3Csvg width='22' height='23' viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='1.11694' width='21' height='20.9656' rx='1.5' stroke='%23D0D0D0'/%3E%3Crect x='16.6075' y='6.00085' width='2.26882' height='13.1109' transform='rotate(40.5175 16.6075 6.00085)' fill='%23EC5C36'/%3E%3Crect width='2.26825' height='7.75718' transform='matrix(0.647038 -0.762458 0.763455 0.645861 3.64526 12.2402)' fill='%23EC5C36'/%3E%3C/svg%3E ");    
  }
  
    &__captcha {
      width: 204px;
      height: 51px;
    }
  
    &__button {
      box-sizing: border-box;
      padding: 13px 0;
      text-align: center;
      width: 100%;
      border: none;
      background: linear-gradient(113.3deg, #DE9B55 -8.73%, #EE5432 93.23%);
      box-shadow: 0px 4px 4px rgba(222, 155, 85, 0.3);
  
      color: inherit;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
  
      margin-bottom: 0;
    }
  
  }
  
  .footer {
    position: relative;
    padding: 50px 0;
    
    &__body {
      margin: 0 auto;
      max-width: 240px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
    }
  
    &__logo {
      width: 92px;
      height: 48px;
      margin-bottom: 50px;
    }
  
    &__content-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 14px;
      margin-bottom: 30px;
      &:nth-child(3) {
        margin-bottom: 40px;
      }
    }
  
    &__contacts-title {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      opacity: 0.5;
    }
  
    .map-block {
      display: flex;
      align-items: center;
  
      &__icon {
        margin: 0 30px 0 22px;
        width: 17px;
        min-width: 17px;
      }
  
      &__img {
        min-width: 80px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: contain;
        object-position: 50% 50%;
        background: no-repeat top left/cover url("styles/img/footer/Map.png");
      }
    }
  
  }
  
}

@media screen and (min-width: 540px) {
  .section-4 {
    &__title {
      text-align: center;
      margin-left: 0;
      &::before {
        content: "кейсы говорят за себя";
      }
    }

    &__cards-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 31px;
      .card {
        flex-basis: 280px;
        flex-grow: 330px
      }
    }  

    .feedback {
      &__title {
        font-size: 18px;
        font-weight: 400;
      }
    
      &::before {
        width: 53px;
        height: 53px;
        margin-right: 23px;
      }
    }    
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 50px;
  }

  .header {
    &__body {
      height: 60px;
      padding: 0 40px;
    }
  }

  .section-1 {
    background: no-repeat top right/cover url("img/header/Blume.png");

    &__tag {
      font-size: 22px;
      line-height: 28px;
      gap: 12px;

      margin-bottom: 20px;

      &::before {
        width: 19px;
        height: 19px;
      }
    }

    &__title {
      font-size: 32px;
      line-height: 41px;
      margin-bottom: 60px;
    }

    &__img {
      width: 251px;
      height: 381px;

      &::before {
        width: 302px;
        height: 302px;
        left: -35px;
      }

      &::after {
        top: 0;
      }
    }

    &__button {
      // align-self: flex-start;
      // width: 329px;
      font-size: 18px;
      line-height: 22px;
      order: 6;
      margin-bottom: 50px;
    }

    &__sub-button {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      align-self: flex-start;
      order: 5;
      margin-bottom: 15px;
    }

  }

  .section-2 {
    &__title {
      margin-bottom: 55px;
    }
    &__cards-steps-container {
      &::before {
        left: 25px
      }
    }
    .card-step {
      padding-right: 50px;
      margin-left: 60px;
    }
  }

}

@media  screen and (min-width: 1024px) {
  .header {
    &__body {
      gap: 30px;
    }

    &__logo {
      height: 32px;
      width: 230px;
      background-image: url("img/header/Logo.png");
    }

    &__contact-number {
      font-family: SourceSansPro, sans-serif;
      font-weight: 300;
      font-size: 18px;
      line-height: 23px;
    }

    &__burger-menu-icon {
      margin-left: auto;
    }
  }

  .section-1 {
    &__body {
      display: block;
      width: 60%;
      padding: 80px 0;
    }

    &__title {
      margin-bottom: 150px;
    }

    &__img {
      position: absolute;
      top: 60px;
      transform: translate(110%, 0);
      right: 0;
      width: 333px;
      height: 481px;
    
      &::before {
        display: none;
      }

      &::after {
        width: 100%;
        height: 100%;
        opacity: 1;
      }
      
    }

    &__button {
      width: 330px;
    }
  }

  .section-4 {
    .feedback {
      &::before {
        width: 83px;
        height: 83px;
        margin-right: 40px;
      }
      &__button {
        font-size: 18px;
      }
    }
  }


  .section-5 {
    padding: 120px 0 0;
  
    &__title {
      font-size: 42px;
      line-height: 51px;
      margin-bottom: 92px;
    }

    &__img-wrap {
      z-index: 0;
    }

    &__number {
      position: absolute;
      top: 0;
      right: 0;
      font-weight: 700;
      font-size: 190px;
      line-height: 232px;
      color: #EF8B54;
      text-shadow: 5px 5px 5px rgba(239, 139, 84, 0.15);
      z-index: -1;
    }
    }

}

@media screen and (min-width: 1100px) {

  .header {

    &__body {
      height: 70px;
    }

    &__button {
      display: block;
      height: 40px;
      width: 160px;
      font-family: SourceSansPro, sans-serif;
      font-weight: 300;
      font-size: 12px;
      line-height: 20px;
      color: $accent-color;
      border: 1px solid $accent-color;
      text-align: center;
      background-color: transparent;
      }

    &__contact-number {
    display: block;
    }

  }

  .section-1 {

    &__title {
      margin-bottom: 25px;
    }

    &__subtitle {
      display: block;
      font-weight: 400;
      font-size: 16px;
      margin-bottom: 200px;
    }

    &__img {
      width: 348px;
      height: 512px;
    }
  }

  .section-2 {
    &__title {
      font-size: 26px;
      line-height: 32px;
    }

    .card-step {
      &__title {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  .section-3 {
    &__title {
      font-weight: 600;
      font-size: 26px;
      line-height: 41px;
      &_secure,
      &_products {
        width: max-content;
      }
    }

    &__description {
      font-weight: 400;
      font-size: 18px;
      line-height: 29px;
    }
  }

  .section-4 {
    &::after {
      display: none;
    }

    &__cards-container {
      margin-bottom: 100px;
    }

    .feedback {
      flex-wrap: nowrap;
      margin: 0 auto;
      width: 100%;
      max-width: 990px;
      background: #50386f;
      box-shadow: none;
      padding: 22px 240px 21px 30px;
      &::before {
        display: none;
      }
      &::after {
        display: none;
      }

      &__button {
        padding: 0 25px;
        font-family: Montserrat, sans-serif;
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        border: none;
        border-radius: 0;
        width: 240px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: left;
        background: linear-gradient(147.62deg, #8D5DCC -128.51%, #55329E 221.38%);
        box-shadow: 0px 5px 10px rgba(94, 56, 158, 0.35);

        &::after {
          display: inline-block;
          width: 15px;
          height: 15px;
          margin-left: 15px;
          position: relative;
          top: 2px;
          background: no-repeat center/contain url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.70008 1.32388C6.46583 1.32388 6.27594 1.13399 6.27594 0.899743C6.27594 0.665499 6.46583 0.475607 6.70008 0.475607L13.721 0.475606C13.8607 0.475606 13.9846 0.543134 14.0619 0.647325C14.1661 0.724602 14.2336 0.848515 14.2336 0.988207L14.2336 8.00914C14.2336 8.24338 14.0437 8.43328 13.8095 8.43328C13.5752 8.43328 13.3853 8.24338 13.3853 8.00914L13.3853 1.76378L0.753374 14.3957C0.587738 14.5614 0.31919 14.5614 0.153554 14.3957C-0.0120818 14.2301 -0.0120819 13.9616 0.153554 13.7959L12.6256 1.32388L6.70008 1.32388Z' fill='white'/%3E%3C/svg%3E%0A");
          content: "";
        }
      }


    }
  }

  .section-6 {
    &__subtitle {
      order: 1;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 30px;
    }
    &__title {
      font-weight: 700;
      font-size: 41px;
      line-height: 50px;
      margin-bottom: 60px;
    }

    &__banner {
      padding: 54px 240px 53px 50px;
      font-weight: 500;
      font-size: 25px;
      line-height: 30px;
    }

    &__list>li {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .footer {
    &__body {
      flex-direction: row;
      max-width: 1060px;
      width: 100%;
      justify-content: space-between;
    }
  }

}

@media screen and (min-width: 1440px) {
  
}
// // svg иконка меняет цвет при наведении
// .how-we-work_item:hover {
//   #block-content__icon { 
//   fill: #fff;
//   }
//   .block-content__icon {
//     background-color: #fff
//   }
// }

// .card {
//   display: block;
//   &__image {
//     overflow: hidden;
//     &>* {
//       width: 100%;
//       height: 100%;
//     }
//   }
//   &:hover {
//     opacity: 1;
//     // &::before {
//     //   background-image: ;
//     // }
//     // &::after {
//     //   тут короче нижнее подчеркивание
//     // }
//   }
// }

._sr-only {
  position: absolute;
  z-index: -99;
  display: none;
}


// отступы
// centerPadding
// string
// '50px'
// Side padding when in center mode (px or %)